<ion-view view-title="Confirmation">
    
  <ion-content>
   
   <div ng-show = "pre_confirm"> 
     <div class="list">
	  	<label class = "item item-text-wrap">
       		 <h2>{{delivery.addresses.pickup.name}}</h2>
        	<p>{{delivery.addresses.pickup.formatted_address}} </p>
		</label>
	 
	  	<label class = "item item-text-wrap">
       		 <h2>{{delivery.addresses.destination.name}}</h2>
        	<p>{{delivery.addresses.destination.formatted_address}} </p>
		</label>
  </div>
  <div>
     <center><h1>{{delivery.fare.text}}</h1></center>
  </div>
    
    <div class="list list-inset">
		<button class="button button-block button-positive" style="bottom:10px" ng-click="checkout()">
				Request Dele!
		</button>
	</div>

</div>

<div ng-show = "confirm" >

    <div class="card">
        <div class="item item-text-wrap">
            Assigning delivery job.....
         <div>
    </div>

</div>


   </ion-content>
</ion-view>
