<ion-view view-title="">
  <ion-content scroll="false">
 
        <!--<leaflet defaults="map.defaults"   markers="map.markers" ng-if="map"></leaflet> -->
        <div>
	  <label class="item item-input item-text-wrap">
	    <i class="icon ion-search placeholder-icon"></i>
	      <ion-google-place id="pickup" placeholder="Pickup Point" ng-model="pickup" details="details1" enter="setView(pDetails,id)" />
	  </label>
	  <label class="item item-input item-text-wrap">
	    <i class="icon ion-search placeholder-icon"></i>
	      <ion-google-place id="destination" placeholder="Destination" ng-model="destination" details="details2" enter="setView(pDetails,id)" />
	  </label>
		</div>
	     <!-- <input type="button" ng-click="setView()"> 
	      {{details2}} -->
	
     <div  data-tap-disabled="true">
      <leaflet defaults ="defaults" center="center" markers="markers" layers="layers"></leaflet>
     </div>

    	<div class="row">
	        <div class = "col col-75"> 
	        <h3>{{totalFareText}}</h3>
			</div>

			<div class = "col col-25">
			<button class="button button-full button-positive" style="bottom:10px" ng-click="checkout()" ng-disabled="buttonDisable">
					Next
			</button>
		    </div>
	   </div>
	  </ion-content>
</ion-view>
